|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/hall', '''
div(contrib-hall-webhooks, ng-controller="ContribHallAdminController as ctrl")
    header
        h1(tg-main-title)

    form
        fieldset
            label(for="url") Hall webhook url
            input(type="text", name="url", ng-model="hallhook.url", placeholder="Hall webhook url", id="url", data-type="url")

        button(type="submit", class="hidden")
        a.button.button-green.submit-button(href="", title="Save", ng-click="ctrl.updateOrCreateHook(hallhook)") Save

    a.help-button(href="https://taiga.io/support/hall-integration/", target="_blank")
        span.icon.icon-help
        span Do you need help? Check out our support page!
|''')]);
