|module.run(['$templateCache', ($templateCache) ->
|  $templateCache.put('contrib/hall', '''
div(contrib-hall-webhooks, ng-controller="ContribHallAdminController as ctrl")
    header
        h1(tg-main-title)

    form
        label(for="url") Hall webhook url
        div.contrib-form-wrapper
            fieldset
                input(type="text", name="url", ng-model="hallhook.url", placeholder="Hall webhook url", id="url", data-type="url")
            fieldset.contrib-test
                a.button-gray(href="", title="Test", ng-show="hallhook.id" ng-click="ctrl.testHook()")
                    span Test

        button(type="submit", class="hidden")
        a.button-green.submit-button(href="", title="Save", ng-click="ctrl.updateOrCreateHook(hallhook)")
            span Save

    a.help-button(href="https://taiga.io/support/hall-integration/", target="_blank")
        span.icon.icon-help
        span Do you need help? Check out our support page!
|''')]);
