{% if obj_type == "issue" %}
    <b>{{ _("Deleted Issue: ") }}</b> #{{obj.ref}}: {{obj.subject}}
{% elif obj_type == "task" %}
    <b>{{ _("Deleted Task: ") }}</b> #{{obj.ref}}: {{obj.subject}}
{% elif obj_type == "userstory" %}
    <b>{{ _("Deleted User Story: ") }}</b> #{{obj.ref}}: {{obj.subject}}
{% elif obj_type == "wikipage" %}
    <b>{{ _("Deleted Wiki Page: ") }}</b> {{obj.slug}}
{% elif obj_type == "milestone" %}
    <b>{{ _("Deleted Sprint: ") }}</b> {{obj.name}}
{% endif %}
