{% if field_name == "points" %}
    {% for role, points in values.items() %}
        <b>{{ role }} role points:</b> from <b>{{ points.0 }}</b> to <b>{{ points.1 }}</b>
    {% endfor %}
{% elif field_name == "attachments" %}
    {% if values.new %}
        {% for att in values['new']%}
            <b>{{ _("Added new attachment") }}:</b> <a href="{{ att.url }}">{{ att.filename }}</a> {% if att.description %}{{ att.description }}{% endif %}
        {% endfor %}
    {% endif %}

    {% if values.changed %}
        {% for att in values['changed'] %}
        <b>{{ _("Updated attachment") }}:</b> <a href="{{ att.url }}">{{ att.filename }}</a> {% if att.changes.is_deprecated %} {% if att.changes.is_deprecated.1 %}<i>{{ _("deprecated") }}</i>{% else %}<i>{{ _("not deprecated") }}</i>{% endif %}{% endif %}{% if att.changes.description %}{{ att.changes.description.1 }}{% endif %}
        {% endfor %}
    {% endif %}
    {% if values.deleted %}
        {% for att in values['deleted']%}
            <b>{{ _("Deleted attachment") }}:</b> {{ att.filename }}
        {% endfor %}
    {% endif %}
{% elif field_name in ["tags", "watchers"] %}
    <b>{{ field_name }}:</b> from <b>{{ ', '.join(values.0) }} </b> to <b>{{ ', '.join(values.1) }} </b>
{% elif field_name in ["description", "content", "blocked_note"] %}
    <b>{{ field_name.replace("_", " ") }}</b>
    {% if values.0 %}
    <b>from:</b>
    {{ values.0 }}
    {% endif %}
    <b>to:</b>
    {{ values.1 or "empty" }}
{% elif field_name == "assigned_to" %}
    <b>assigned_to:</b> from {% if values.0 != None and values.0 != "" %}<b>{{ values.0 }}</b>{% else %}<b>{{ _("Unassigned") }}</b>{% endif %} to {% if values.1 != None and values.1 != "" %}<b>{{ values.1 }}</b>{% else %}{{ _("Unassigned") }}*{% endif %}
{% elif field_name == "custom_attributes" %}
    {% if values.new %}
        {% for att in values.new %}
            <b>{{ att.name }}:</b> to <b>{{ att.value }}</b>
        {% endfor %}
    {% endif %}
    {% if values.changed %}
        {% for att in values.changed %}
            <b>{{ att.name }}:</b> from <b>{{ att.changes.value.0 }}</b> to <b>{{ att.changes.value.1 }}</b>
        {% endfor %}
    {% endif %}
    {% if values.deleted %}
        {% for att in values.deleted %}
            <b>{{ att.name }}:</b> {{ _("deleted") }}
        {% endfor %}
    {% endif %}
{% else %}
    <b>{{ field_name.replace("_", " ") }}:</b> from <b>{{ values.0 }}</b> to <b>{{ values.1 }}</b>
{% endif %}
